.dialog {
  position: absolute;
  overflow: auto;
  z-index: 5;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(255,255,255,.7);
}

.dialog__view {
  position: relative;
  margin: 50px auto;
  width: 600px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  border-radius: 2px;
}

.dialog__cont {
  position: relative;
  padding: 40px;
  z-index: 2;
}

.dialog__close {
  display: block;
  position: fixed;
  z-index: 3;
  top: 70px;
  left: 50%;
  padding: 0;
  margin: 0 0 0 320px;
  line-height: 18px;
  font-size: 70px;
  cursor: pointer;
  color: #000;
}

.dialog__close:hover {
  color: #555;
}

.dialog__view h1,
.dialog__view h2 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 32px;
}

.dialog__view h2 {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.dialog__view p {
  padding: 0;
  margin: 0 0 20px;
  line-height: 160%;
}

.dialog__view label {
  display: block;
  margin: 0 0 20px;
}

.dialog__view input {
  margin: 0 0 20px;
  padding: 5px 0;
  width: 100%;
  font-size: 22px;
  text-indent: 5px;
}

.dialog__view a {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #55d;
}

.dialog__view button {
  margin: 0 0 10px;
  padding: 5px 10px;

  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #fff inset;
  background: #eee;
  cursor: pointer;
  color: #333;
}

.dialog__view button:last-child {
  margin-bottom: 0;
}

.dialog__view button:hover {
  border-color: #999;
}

.dialog__view button:active,
.dialog__view button:disabled {
  box-shadow: none;
  border-color: #ccc;
  color: #777;
}

.dialog__view button:disabled {
  cursor: default;
}

.dialog__inp_err {
  background: #faa;
}

.dialog__view .fb-like {
  margin-right: 10px;
}

.dialog__view .twitter-share-button {
  width: 90px !important;
}

.about {
  display: none;
  text-align: center;
}