.dialog {
  overflow: auto;
  position: absolute;
  z-index: 5;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.2);
}

.dialog_hidden {
  display: none;
}

.dialog__table {
  display: table;
  height: 100%;
  width: 100%;
}

.dialog__cell {
  display: table-cell;
  vertical-align: middle;
}

.dialog__view {
  box-shadow: 0 0 80px rgba(0,0,0,.04) inset, 0 0 1px rgba(0,0,0,.2);
  position: relative;
  margin: 50px auto;
  width: 600px;
  background: #fff;
  border-radius: 2px;
}

.dialog__cont {
  position: relative;
  padding: 40px;
  z-index: 2;
}

.dialog__close {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 0 6px 0 0;
  width: 24px;
  height: 30px;
  line-height: 24px;
  
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: #fff;

  border-radius: 0 2px 0 100%;
  background: #333;
}

.dialog__close:hover {
  background: #000;
}

.dialog__view h1,
.dialog__view h2 {
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 32px;
}

.dialog__view h2 {
  margin: 0 0 20px;
  font-size: 24px;
}

.dialog__view p {
  padding: 0;
  margin: 0 0 20px;
  line-height: 160%;
}

.dialog__view label {
  display: block;
  margin: 0 0 20px;
}

.dialog__view input {
  margin: 0 0 20px;
  padding: 7px 0;
  width: 100%;
  font-size: 22px;
  text-indent: 10px;
}

.dialog__view a {
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #55d;
}

.dialog__view button {
  margin-bottom: 20px;
}

.dialog__view button:last-child {
  margin-bottom: 0;
}

.dialog__inp_err {
  background: #faa;
}

.dialog__view .fb-like {
  margin-right: 10px;
}

.dialog__view .twitter-share-button {
  width: 90px !important;
}

.about {
  text-align: center;
}