.panel {
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.panel_left {
  left: 50px;
  width: 100px;
}

.panel_right {
  right: 50px;
  width: 300px;
}

.panel__info {
  float: left;
  margin-right: 5px;
  padding-left: 10px;
  line-height: 28px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
}

.panel__info_general {
  background-color: #b6e84a;
}

.panel__info_daily {
  background-color: gold;
}

.panel__info,
.panel__btn {
  height: 26px;
  box-sizing: border-box;
  cursor: pointer;
}

.panel__num {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.panel__btn {
  float: left;
  display: block;
  width: 30px;
  
  border: none;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center;
  
  text-align: center;
  text-decoration: none;
  line-height: 28px;
  font-size: 16px;
  color: #fff;
}

.panel__btn:first-child {
  border-radius: 2px 0 0 0;
}
.panel__btn:last-child {
  border-radius: 0 2px 0 0;
}
.panel__btn:hover {
  background-color: #555;
}