.panel {
  position: absolute;
  z-index: 2;
  bottom: 0;

  -webkit-transform: translate(0, 50px);
     -moz-transform: translate(0, 50px);
      -ms-transform: translate(0, 50px);
       -o-transform: translate(0, 50px);
          transform: translate(0, 50px);
}

.panel_left {
  left: 50px;
  width: 100px;
}

.panel_right {
  right: 50px;
  width: 300px;
}

.panel__info {
  float: left;
  margin-right: 5px;
  padding: 0 10px;
  line-height: 32px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
}

.panel__info_general {
  background-color: #b6e84a;
}

.panel__info_daily {
  background-color: gold;
}

.panel__info,
.panel__btn {
  height: 30px;
  box-sizing: border-box;
  cursor: pointer;
}

.panel__score,
.panel__rank {
  font-weight: bold;
  color: #333;
}

.panel__score {
  margin-right: 10px;
}

.panel__btn {
  float: left;
  display: block;
  width: 32px;
  
  border: none;
  background-color: #333;
  background-repeat: no-repeat;
  background-position: center 4px;
  cursor: pointer;
  
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
}

.panel__btn:first-child {
  border-radius: 2px 0 0 0;
}
.panel__btn:last-child {
  border-radius: 0 2px 0 0;
}
.panel__btn:hover {
  background-color: #555;
}

.panel__btn_about   { background-image: url("/comp/panel/img/about.png?embed"); }
.panel__btn_profile { background-image: url("/comp/panel/img/profile.png?embed"); }
.panel__btn_boards  { background-image: url("/comp/panel/img/boards.png?embed"); }
.panel__btn_next    { background-image: url("/comp/panel/img/next.png?embed"); }
.panel__btn_prev    { background-image: url("/comp/panel/img/prev.png?embed"); }

.panel__btn_loading,
.panel__btn_loading:hover {
  background-position: center 8px;
  background-image: url("/comp/panel/img/loading.gif?embed");
  background-color: #333;
}