.popups {
  position: absolute;
  z-index: 5;
  left: 50%;
  margin-left: -250px;
  width: 500px;
}

.popups_top {
  top: 5px;
}

.popups_mid {
  top: 50%;
}

.popup {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #333;
  opacity: 0;

  background: #fff;
  border-radius: 2px;
  box-shadow:
    0 0 80px rgba(0,0,0,.04) inset,
    0 0 1px rgba(0,0,0,.2);
}

.popup__content {
  padding: 20px;
  line-height: 140%;
}

.popup__close {
  display: block;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  padding: 0 6px 0 0;
  width: 24px;
  height: 30px;
  line-height: 24px;

  text-align: right;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: #fff;

  border-radius: 0 2px 0 100%;
  background: #333;
}

.popup__close:hover {
  background: #000;
}

.popup__play-next {
  margin-top: 10px;
}