<!DOCTYPE HTML>
<!--
 __   __  __   __  _______  __   __  __   __  _______  ___      _______ 
|  |_|  ||  | |  ||       ||  | |  ||  |_|  ||   _   ||   |    |   _   |
|       ||  | |  ||       ||  |_|  ||       ||  |_|  ||   |    |  |_|  |
|       ||  |_|  ||       ||       ||       ||       ||   |    |       |
|       ||       ||      _||       ||       ||       ||   |___ |       |
| ||_|| ||       ||     |_ |   _   || ||_|| ||   _   ||       ||   _   |
|_|   |_||_______||_______||__| |__||_|   |_||__| |__||_______||__| |__|

-->
<html lang="en"><!-- manifest="app.cache" -->
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <title>Muchmala, an HTML5 Massively Multiplayer Online Puzzle</title>
  <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
  <link rel="shortcut icon" href="<#=staticUrl#>/img/favicon.png" />
<# include partials/styles.html -#>
</head>
<body>
<# include ../public/comp/dialog/about.html #>
<# include ../public/comp/puzzle/puzzle.html #>
<# include ../public/comp/dialog/dialog.html #>
<# include ../public/comp/boards/boards.html #>
<# include ../public/comp/profile/profile.html #>
<# include ../public/comp/panel/panel.html #>
<# include ../public/comp/popup/popup.html #>
<# include partials/globals.html #>
<# include partials/scripts.html -#>
</body>
</html>