.piece {
  position: absolute;

  -webkit-backface-visibility: hidden;
}

.piece__spinner {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -9px;
  height: 4px;
  width: 18px;
  
  background-image: url("img/spinner.png?embed");

  -webkit-animation: waiting 1.2s steps(6) infinite;
     -moz-animation: waiting 1.2s steps(6) infinite;
      -ms-animation: waiting 1.2s steps(6) infinite;
       -o-animation: waiting 1.2s steps(6) infinite;
          animation: waiting 1.2s steps(6) infinite;
}

@keyframes waiting {
  from { background-position: 0 0px; }
  to   { background-position: 0 -24px; }
}

@-webkit-keyframes waiting {
  from { background-position: 0 0px; }
  to   { background-position: 0 -24px; }
}

@-moz-keyframes waiting {
  from { background-position: 0 0px; }
  to   { background-position: 0 -24px; }
}

.piece__canvas,
.piece__cover {
  position: absolute;
  left: 0;
  top: 0;
}

.piece__tooltip {
  position: absolute;
  text-align: center;
}

.piece__tooltip i {
  display: inline-block;
  height: 18px;
  padding: 0 8px;
  line-height: 18px;
  background: #fff;
  font-size: 12px;  
  font-style: normal;
  white-space: nowrap;
  border-radius: 9px;
  opacity: .8;
}

.piece__score {
  position: absolute;
  text-align: center;
  font-size: 30px;
  color: #fff;
  
  text-shadow:
    0 0 1px #000
  , 0 0 1px #000
  , 0 0 1px #000;
}